body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
::-webkit-scrollbar {
  display: none;
}
html {
  font-size: 14px;
}

/* *{
  box-sizing: content-box;
} */

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
.container * {
  box-sizing: border-box;
}

.container a {
  display: block;
  margin: 30px;
  padding: 20px 0;
  font-weight: bold;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  background-color: dodgerblue;
}
.container h3 {
  display: block;
  text-align: center;
  color: darkblue;
}

.header a, .menuList a {
  text-decoration: none;
  color: #333;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 840px;
  min-width: 330px;
  margin: 0 auto;
}

.header {
  position: relative;
  text-align: center;
}

.header .menu {
  position: absolute;
  top: 10px;
  right: 0;
}

.header .link {
  padding: 10px;
  margin-left: 10px;
  font-weight: bold;
  border-radius: 4px;
}

.menuList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.menuList li {
  flex: 30% 0 0;
  box-sizing: border-box;
  padding: 10px;
}

.menuList a {
  display: block;
  padding: 20px 0;
  font-weight: bold;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  background-color: dodgerblue;
}

/* table {
  border-collapse: collapse;
  width: 100%;
}
table td {
  width: 25%;
  height: 70px;
  border: 1px solid #ccc;
  text-align: center;
  font-size: 26px;
} */

.footer {
  padding-top: 50px;
  margin-top: auto;
}

.imgBox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
  text-align: center;
}

.img {
  width: 80px;
  height: 80px;
  margin: 20px 0 20px 0;
  display: block;
  border: 1px solid black;
  padding: 10px 0 10px 0;
}

.articleList {
  clear: both;
  overflow: hidden;
}

.articleSubject {
  padding-bottom: 7px;
  border-bottom: 1px solid #eaeaea;
  position: relative;
  text-align: left;
}

.articleList .list > li:nth-child(2n) {
  background-color: #eaeaea;
}

.articleList .list li .title {
  display: block;
  line-height: 1.5;
  overflow: hidden;
  padding-top: 4px;
  color: #000;
  font-size: 1.093rem;
}

.articleList .list li .info {
  margin-left: 9px !important;
  display: block;
  margin-top: 1px;
  font-size: 0.85714rem;
  line-height: 1.5;
  color: #555;
}

.articleList .list li .info .writer {
  font-weight: normal;
  color: #555;
}

.articleList .list li a.subject {
  display: block;
  padding: 3px 3px 3px 7px;
  text-decoration: none;
}

em {
  font-style: normal;
}

.login-form {
  width: 300px;
  background-color: #eeeff1;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  padding: 20px;
  text-align: center;
  border: none;
}

.regist-form {
  width: 300px;
  background-color: #eeeff1;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  padding: 20px;
  text-align: center;
  border: none;
}

.text-field {
  font-size: 1rem;
  padding: 10px;
  border: none;
  width: 260px;
  margin-bottom: 10px;
}

.submit-btn {
  font-size: 1rem;
  border: none;
  padding: 10px;
  background-color: #1BBC9B;
  margin-bottom: 10px;
  color: white;
}

.submit-form{
  display : flex;
  flex-direction: column;
  font-size: 1rem;
  border: none;
  padding: 10px;
  width: 280px;
  margin-bottom: 10px;
  color: white;
}
.col-xs-1 {
  float: left;
}
.col-xs-2 {
  width: 100%;
}
.container-pc {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  width: 100%;
  max-width: 840px;
  height: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container-partSelect {
  width: 60%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: -15px;
  margin-left: -15px;
  margin-top:1px;
}
@media (max-width:600px) {
  .container-partSelect {
    width:80%;
    padding-right: 5px;
    padding-left: 15px;
  }
}

.parts {
  float: left;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}

.searchInputArea {
  position: relative;
  min-height: 1px;
  max-height:40px;
  width:56%;
}
@media (max-width: 600px) {
  .searchInputArea {
    width:98.5%;
  }
}
.input-group-pc {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  vertical-align: middle;
  border-collapse: separate;
}

.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}
.input-group-btn,
.input-group .form-control {
  display: table-cell;
}
.input-group .form-control {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  max-width: 840px;
  margin-bottom: 0;
}

.form-control {
  display: table-cell;
  width: 100%;
  max-width: 840px;
  height: 34px;
  padding: 6px 12px;
  font-size: 1rem;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;

  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group-btn {
  display: table-cell;
  width: 1%;
  position: relative;
  font-size: 0;
  white-space: nowrap;
  vertical-align: middle;
}

.input-group-btn > .btn {
  position: relative;
}
.btn {
  margin-left: -1px;
  white-space: unset;
  height:34px;
  /* display: inline-block; */
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

button {
  text-transform: none;
  overflow: visible;
  margin: 0;
  font: inherit;
  -webkit-appearance: button;
}

.StuffListView {
  padding-right: 0px;
  overflow: hidden;
  overflow-y: auto;
  width: 100%;
  float: left;
  position: relative;
  min-height: 1px;
}

.StuffList {
  display: table-row-group;

  width: 100%;
  float: left;
  position: relative;
  min-height: 1px;
  vertical-align: middle;
}

.StuffList tr {
  border-bottom: 1px solid #e9e9e9;
}

.StuffList .btn {
  width: 75%;
  float: right;
  position: relative;
  min-height: 1px;
  padding: 5px;
  margin-top:0px;
  font-size: 1rem;
  white-space: normal;
  /* text-align: left; */
}

.StuffIcon {
  padding: 3px;
  width: 25%;
  float: left;
  position: relative;
  min-height: 1px;
}

.StuffIcon img {
  width: 56px;
  height: 56px;
  text-align: center;
}
.ShowSelectedParts {
  display: none;
}
@media (max-width:600px) {
  .ShowSelectedParts {
    display: block;
    padding: 10px 5px 10px 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #f0f0f0;
  }
  .ShowSelectedParts a{
    display:block;
    background-color: transparent;
    color: #000;
    margin: 0;
    padding: 0;
  }
}

.WillSelect .text{
  width: 100%;
  float: left;
  position: relative;
  min-height: 1px;
  padding: 5px;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1rem;
  white-space: normal;
  text-align: left;
}
@media (max-width:600px) {
  .WillSelect .text{
    text-align:center;
    background-color: #f0f0f0;
  }
  .WillSelect .Selected {
    background-color: red;
    color:#fff;
    font-weight:bold;
  }
  .WillSelect .checked {
    display: inline-block;
  }
  .WillSelect .notChecked {
    display: none;
  }
}

.text-left {
  width: 75%;
  float: right;
  position: relative;
  min-height: 1px;
  padding: 5px;
  margin-top: 1.7em;
  font-size: 1rem;
  white-space: normal;
  text-align: left;
}



.label {
  position: relative;
  top: -1px;
  display: inline;
  padding: 0.1em 0.3em 0.15em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
}

.label-info {
  background-color: #5bc0de;
}

.StuffInfor {
  padding-left: 0;
  padding-right: 0;
}

.MainSufferArear {
  float: right;
  width: 40%;
  background-color : #f0f0f0;
  margin-left:1.6em;
  margin-top:-35px;
}
@media (max-width:600px) {
  .MainSufferArear {
    margin-top: 0;
    display:none;
  }
}
.MobileSufferArear {
  display: none;
}
@media (max-width:600px) {
  .MobileSufferArear {
    display: block;
    float: right;
    width: 20%;
    background-color : transparent;
    margin-left:1.6em;
    height:450px;
    text-align: center;
  }
}

.container-partsCart {
  display: flex;
  flex-direction: column;
}
.container-partsCart button {
  border: none;
  background-color: transparent;
  font-size:1.5rem
}
.listPart{
  margin-bottom: 1px;
}
.Part-list{
  margin: 0 0 4px;
  background: #fff;
}
.PartName {
  padding: 2px 14px;
  background-color: #f2f2f2;
}
.PartItem {
  padding:13px;
}
.Part-image {
  margin: 0 12px 0 0;
  float:left;
}
.Part-image img {
  width: 70px;
  height: 70px;
}
.Part-inf-box {
  display: table-cell;
  position: relative;
  width: calc(100vw - 120px);
  vertical-align: top;
  height: 70px;
}
.Part-inf {
  line-height: 1.8rem;

}
.second {
  border-radius: 0;
  margin-left: -1px;
  white-space: unset;
}

.text-center h5 {
  margin-top: 50px;
  padding-top: 50px;
}

.dir_location {
  font-size: 0.85714rem;
  line-height: 15px;
  color: #333;
  height: 50px;
  padding: 15px 0;
}
.dir_location * {
  vertical-align: middle;
}

.dir_location .dir_list {
  margin: 0;
  padding: 0;
}
.dir_location::after {
  clear:both;
  display:block;
  clear:both;
}

.dir_location .dir_item {
  float: left;
  margin-right: 10px;
  padding: 1px 0 1px 15px;
  background: url(http://img.danawa.com/new/goods_list/v1/img/icon_list_dot.png) no-repeat scroll 0 -344px;
}
.dir_location .dir_home {
  padding-left: 0;
  background: none;
}


.dir_location .dir_item select {
  width: 190px;
}

.dir_loaction select {
  font-size: 0.85714rem;
  margin-top: -1px;
  height: 20px;
}

.prodlist_wrap {
  padding-bottom: 100px;
}
.dir_location .dir_link {
  vertical-align: middle;
}

.optional_nav {
  border: 1px solid #b3b3b3;
  font-size: 0.85714rem;
  line-height: 16px;
  margin-bottom: 20px;
}

.optional_nav .nav_header {
  display: block;
  padding: 12px 15px;
  background: #fafafa;
}

.optional_nav .head_info {
  display: block;
}

.optional_nav .nav_title {
  margin: 0 5px 0 0;
  padding: 1px 0;
  display: inline-block;
  vertical-align: top;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Malgun Gothic",Dotum,"돋움","Apple SD Gothic Neo",Helvetica,Sans-serif;
}
.option_nav h4 {
  line-height: inherit;
}

.optional_nav .spec_item {
  margin: 0;
  border-top: 1px solid #e6e6e6;
  padding: 9px 0 0 14px;
  zoom: 1;
}

.optional_nav .item_dt {
  font-weight: bold;
  float: left;
  width: 108px;
  margin: 0;
  padding: 0 0 8px;
}

.optional_nav .item_dd {
  margin: 0 0 0 118px;
  padding: 0;
  position: relative;
}

.optional_nav .item_list {
  margin: 0px;
  padding: 0 65px 0 0;
}

.optional_nav .sub_item {
  width: 120px;
}

.optional_nav .sub_item, .optional_nav .brand_item {
  display: inline-block;
  vertical-align: top;
  margin: 0 6px 8px 0;
  zoom: 1;
}

.optional_nav .sub_item label {
  display: inline-block;
  height: 1.2rem;
  overflow: hidden;
  padding: 0 2px 0 16px;
  text-indent: -16px;
  vertical-align: top;
  word-break: break-all;
  font-size: 0.78571rem;
  cursor: default;
}

.option_nav .sub_item input {
  vertical-align: top;
}

.option_nav .nav_header::after{
  content: "";
  display: block;
  clear: both;
}

.item_list li {
  list-style: none;
  text-align: left;
}
/* 반응형 */
.spec_opt_view {
  position: absolute;
  top: 24px;
  left: 80%;
  width: 104px;
  height: 24px;
  padding-right: 16px;
  margin: -24px 0 0;
  text-align: right;
  zoom: 1;
}

.btn_spec_view {
  font-size: 0.78571rem;
  padding: 0 16px 0 0;
  margin: 0;
  border: none;
  height: 16px;
  overflow: visible;
  background: url("http://img.danawa.com/new/shop_danawa/img/icon_list_dot.png") no-repeat scroll 100% -1966px;
}

.optional_nav .btn_view_less {
  background-position: 100% -1982px;
}

.option_nav button {
  cursor: pointer;
  border-radius: 0;
}

.prod_price_selector {
  margin-bottom: 6px;
}

.prod_price_selector .price_input {
  border: 1px solid #757575;
  background: #fff;
  line-height: 21px;
  padding: 0 4px;
  height: 21px;
  width: 115px;
  vertical-align: middle;
  margin-top: -3px;
  border-radius: 0;
}

.prod_price_selector .btn_search {
  border: 1px solid #666;
  font-size: 0.78571rem;
  color: #333;
  font-weight: bold;
  line-height: 23px;
  padding: 0 4px 0 19px;
  height: 23px;
  vertical-align: middle;
  margin: -3px 0 0 4px;
  overflow: visible;
  background: #fff url(http://img.danawa.com/new/shop_danawa/img/icon_search.png) 5px no-repeat;
}

.product_list_area{
  font-family: Dotum,"돋움","Apple SD Gothic Neo",Helvetica,Sans-serif;
}

.main_prodlist div, .main_prodlist strong {
  font-size: inherit;
}

.main_prodlist .product_list {
  margin:0;
  padding:0;
}

.main_prodlist_list .prod_item:first-child {
  border-top-width: 0;
}

.main_prodlist_list .prod_item {
  border-bottom: 1px solid #e6e6e6;
  padding: 15px 0;
}

.main_prodlist_list .prod_main_info {
  position: relative;
  width: 100%;
  display: table;
}

.main_prodlist_list .thumb_info {
  display: table-cell;
  width: 150px;
  vertical-align: top;;
}

.main_prodlist_list .thumb_link {
  display: inline-block;
  position: relative;
  width: 130px;
  height: 130px;
}

.main_prodlist_list .thumb_link img {
  vertical-align: top;
  width: 130px;
  max-width: 100%;
  max-height: 100%;
}

.main_prodlist_list .main_info {
  width: 527px;
  display: table-cell;
  vertical-align: middle;
  padding-right: 60px;
}

.main_prodlist_list .head_info {
  margin-bottom: 12px;
}

.main_prodlist_list .pop_rank {
  margin: 5px 3px 0 0;
  letter-spacing: 1px;
}

.main_prodlist .pop_rank {
  display: inline-block;
  vertical-align: top;
  font-size: 0.78571rem;
  color: #fff;
  background: #8a8a8a;
  text-align: center;
  width: 17px;
  height: 15px;
  line-height: 16px;
  padding: 1px 0 0;
  font-weight: normal;
  cursor: default;
}

.screen_out {
  display: block;
  overflow: hidden;
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
  clear: both;
}

.main_prodlist_list .prod_name {
  display: inline;
  font-weight: bold;
  color: #000;
  font-size: 1.07142rem;
  line-height: 22px;
  margin-right: 6px;
  vertical-align: top;
  font-family: "Malgun Gothic",Dotum,"돋움","Apple SD Gothic Neo",Helvetica,Sans-serif;
}

.main_prodlist_list .prod_spec_set {
  margin-bottom: 5px;
}

.prod_spec_set {
  font-size: 0.78571rem;
  color: #666;
  line-height: 17px;
  margin: 0;
}

.spec_list {
  margin: 0;
  padding: 0;
  font-size: 0.78571rem;
}

.prod_spec_set .spec_item {
  display: inline-block;
  background: url(http://img.danawa.com/new/goods_list/v1/img/icon_list_dot.png) no-repeat scroll 100% -947px;
  padding-right: 8px;
  font-size: 0.78571rem;
  line-height: 17px;
  color: #666;
}

.prod_spec_set .spec_item_last{
  background-image: none;
  padding-right:0;
}

.scroll_box {
  height: 500px;
  clear: both;
  overflow-x:hidden;
  overflow-y:scroll;
}
.close_btn {
  display: none;
}
@media (max-width:600px) {
  .close_btn {
    display: block;
    background-color: #fff;
    white-space: unset;
    font-size: 1rem;
    text-align: center;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0;
    margin-left:3%;
  }
}
@media (max-width:600px) {
  .MuiButtonBase-root:nth-child(3) {
    display: none;
  }
}

.purpose-ul {
  margin-top: 5px;
  margin-bottom: 5px;
  list-style: none;
}
.purpose-li {
  list-style: none;
  text-align: center;
}
.purpose-box {
  flex-direction: column;
  background-color: #f2f2f2;
  margin: 10px 25px 10px 25px;
}
.purpose-li .Selected {
  background-color: red;
  
}

.purpose {
  border: none;
  padding: 10px 25px 10px 25px;
  background-color: transparent;
  font-weight: bold;
}
.purpose-li .Selected .purpose {
  color: white;
}

.detail-purpose-ul {
  margin-bottom: 5px;
  list-style: none;
  display: flex;
  align-items: center;
}
.detail-purpose-li {
  list-style: none;
  text-align: center;
}
.detail-purpose-box {
  flex-direction: column;
  background-color: #f2f2f2;
  margin: 10px 25px 10px 25px;
}

.detail-purpose-box .detail-purpose-btn {
  border: none;
  padding: 10px 25px 10px 25px;
  background-color: transparent;
  font-weight: bold;
}


.detail-purpose-ul .detail {
  display: none;
}

.detail-purpose-ul .Selected {
  display: block;
}

.Selected .Selected  {
  background-color: red;
}
.Selected .Selected .detail-purpose-btn {
  color: white;
}


.least{
  display: none;
}

.recommand{
  display: none;
}

.spec_box .Selected {
  display:block;
}
.show_box {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.show-recommand {
  padding: 10px 20px 10px 20px;
  margin: 0px 10px 0px 10px;
  background-color: pink;
}
.show-least{
  padding: 10px 20px 10px 20px;
  margin: 0px 10px 0px 10px;
  background-color: pink;
}